In [258]:
import json

In [259]:
import pandas as pd

In [260]:
with open('result.json', 'r') as datafile:
    data = json.load(datafile)

In [261]:
adata = pd.DataFrame(data[0])

In [262]:
adata.to_json("result1.json")

In [263]:
bdata = pd.read_json('result1.json')

In [278]:
df = pd.read_csv('result.csv')

In [279]:
df.head()

,UNIT_NAME,STAT_NAME,ITEM_CODE1,STAT_CODE,ITEM_CODE2,ITEM_CODE3,ITEM_NAME1,ITEM_NAME2,DATA_VALUE,ITEM_NAME3,TIME
0,연%,2.6.한국은행 기준금리 및 여수신금리,101000,098Y001,,,한국은행 기준금리,,1.75,,201901
1,연%,2.6.한국은행 기준금리 및 여수신금리,101000,098Y001,,,한국은행 기준금리,,1.75,,201902
2,연%,2.6.한국은행 기준금리 및 여수신금리,101000,098Y001,,,한국은행 기준금리,,1.75,,201903
3,연%,2.6.한국은행 기준금리 및 여수신금리,101000,098Y001,,,한국은행 기준금리,,1.75,,201904
4,연%,2.6.한국은행 기준금리 및 여수신금리,101000,098Y001,,,한국은행 기준금리,,1.75,,201905

In [280]:
df.TIME.unique()

array([201901, 201902, 201903, 201904, 201905, 201906, 201907, 201908,
       201909, 201910, 201911, 201912, 202001, 202002, 202003, 202004,
       202005, 202006, 202007, 202008, 202009, 202010, 202011, 202012,
       202101, 202102, 202103, 202104, 202105, 202106, 202107, 202108,
       202109, 202110, 202111, 202112, 202201, 202202, 202203, 202204],
      dtype=int64)

In [267]:
df.tail()

,UNIT_NAME,STAT_NAME,ITEM_CODE1,STAT_CODE,ITEM_CODE2,ITEM_CODE3,ITEM_NAME1,ITEM_NAME2,DATA_VALUE,ITEM_NAME3,TIME
541,연%,2.6.한국은행 기준금리 및 여수신금리,105000,098Y001,,,자금조정 예금금리,,0.50,,201908
542,연%,2.6.한국은행 기준금리 및 여수신금리,105000,098Y001,,,자금조정 예금금리,,0.50,,201909
543,연%,2.6.한국은행 기준금리 및 여수신금리,105000,098Y001,,,자금조정 예금금리,,0.25,,201910
544,연%,2.6.한국은행 기준금리 및 여수신금리,105000,098Y001,,,자금조정 예금금리,,0.25,,201911
545,연%,2.6.한국은행 기준금리 및 여수신금리,105000,098Y001,,,자금조정 예금금리,,0.25,,201912